---

---

<div
	class='flex flex-col items-center justify-center h-6 bg-gray-950/[2.5%] after:pointer-events-none after:absolute after:inset-0 bg-[image:radial-gradient(var(--pattern-fg)_1px,_transparent_0)] bg-[size:10px_10px] bg-fixed [--pattern-fg:var(--color-white)]/10 border-y'
>
</div>
