---

---

<div
	class='sticky top-0 z-50 w-full border-b bg-neutral-950/90 backdrop-blur-sm'
>
	<div class='container mx-auto flex items-center justify-between px-8 py-2'>
		<div class='flex items-center gap-8'>
			<a class='flex items-center gap-2' href='/'
				><img
					alt='Logo'
					loading='lazy'
					width='100'
					height='30'
					decoding='async'
					data-nimg='1'
					style='color:transparent'
					src='/src/assets/stackblitz-monotone.svg'
					class='invert'
				/></a
			><div
				class='hidden items-center gap-4 font-medium text-neutral-400 text-sm lg:flex'
			>
				<a href='https://bolt.new'>bolt.new</a>
				<a href='https://webcontainer.io'>webcontainer.io</a>
				<a href='https://stackblitz.com/careers'>careers</a>
			</div>
		</div>
		<div class='flex items-center gap-4'>
			<a
				target='_blank'
				rel='noreferrer'
				class='text-white text-sm'
				href='https://github.com/mavko/stackblitz-concept-page'
				><div class='flex h-full items-center'>
					<div
						class='flex items-center ring-1 ring-white/20 rounded-md px-2 py-1.5 bg-white/10'
					>
						<img
							alt='GitHub'
							loading='lazy'
							width='16'
							height='16'
							decoding='async'
							data-nimg='1'
							style='color:transparent'
							class='invert'
							src='/src/assets/github.svg'
						/><span class='hidden'>GitHub</span>
					</div>
				</div>
			</a>
			<a
				href='https://stackblitz.com/login'
				class='inline-flex rounded-md bg-neutral-100 px-4 py-1 font-semibold text-sm text-neutral-950 ring-white shadow-sm hover:bg-white'
				>Sign In</a
			>
		</div>
	</div>
</div>
