---

---

<div
	class='grid divide-y sm:grid-cols-3 sm:divide-x sm:divide-y-0 divide-white/10'
>
	<div class='sm:col-span-2'>
		<section class='flex flex-col gap-8 p-8'>
			<div class='flex items-center gap-2 text-neutral-500'>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					width='14'
					height='14'
					viewBox='0 0 24 24'
					fill='none'
					stroke='currentColor'
					stroke-width='2'
					stroke-linecap='round'
					stroke-linejoin='round'
					class='lucide lucide-message-circle'
					><path d='M7.9 20A9 9 0 1 0 4 16.1L2 22Z'></path></svg
				><small>Nice words</small>
			</div>

			<p class='font-semibold text-xl tracking-tight sm:text-2xl text-white'>
				<span
					style='display:inline-block;vertical-align:top;text-decoration:inherit;text-wrap:balance'
					>"StackBlitz unlocks a true one-click startup experience with the full
					stack running in the browser—<strong>it's a game-changer.</strong
					>"</span
				>
			</p>

			<div class='space-between flex items-center justify-between gap-4'>
				<div class='flex items-center gap-2'>
					<div class='-space-x-1 flex items-center'>
						<img
							alt=''
							loading='lazy'
							width='24'
							height='24'
							decoding='async'
							data-nimg='1'
							class='rounded-full ring-2 ring-white'
							style='color:transparent'
							src='/src/assets/ilya-grigorik.png'
						/>
					</div><p class='text-neutral-500 text-sm'>
						<span class='font-medium'>Ilya Grigorik</span>, Principal Engineer
						at Shopify
					</p>
				</div>
				<a
					href='https://x.com/igrigorik'
					target='_blank'
					rel='noopener noreferrer'
				>
					<svg viewBox='0 0 24 24' aria-hidden='true' class='size-4 fill-white'
						><g
							><path
								d='M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z'
							></path></g
						></svg
					>
				</a>
			</div>
		</section>
	</div><div class='sm:col-span-1'>
		<div class='flex h-full flex-col items-start justify-between gap-4 p-8'>
			<div class='flex flex-col gap-4'>
				<div class='flex items-center gap-2 text-neutral-500 text-xs font-bold'>
					<svg
						xmlns='http://www.w3.org/2000/svg'
						width='24'
						height='24'
						viewBox='0 0 24 24'
						fill='white'
						stroke='currentColor'
						stroke-width='2'
						stroke-linecap='round'
						stroke-linejoin='round'
						class='size-5 fill-white'
						><line x1='18' x2='18' y1='20' y2='10'></line><line
							x1='12'
							x2='12'
							y1='20'
							y2='4'></line><line x1='6' x2='6' y1='20' y2='14'></line></svg
					>
					<div>72 hours after launch</div>
				</div>
				<p class='font-semibold text-xl tracking-tight text-neutral-300 gap-1'>
					<!-- -->
					<span class='text-sky-600'>Tens of thousands</span>
					<!-- -->apps created, growing by <span class='text-sky-600'
						>1 Million+ users</span
					> per month
					<!-- -->, and have<!-- -->
					<span class='text-sky-600'>3 million monthly developers</span> as of early
					2025
				</p>
			</div>
			<a
				href='https://x.com/boltdotnew'
				class='ring-1 ring-white/20 rounded-md px-2 py-1.5 bg-white/10 text-white text-xs font-medium'
				>Check our X to see the latest creations!</a
			>
		</div>
	</div>
</div>
